@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"), url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

header {
    background: linear-gradient (red), (red), url("pics/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15vh;
    width: 100%;
    position: relative;
    display: flex;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

img {
    display: block;
    height: 250px;
    width: 250px;
    border: solid red;
}

img {
    filter: greyscale (90%);
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 350px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(130, 2, 250);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid red;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: blue;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: red;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: black;
    color: #fff;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}


/* The total will show at the right side the end with margin of 10px*/

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color: blue;
    background-color: black;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
    margin-right: 20px;
}

.cart-total-price {
    color: green;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn {
    margin: 5px;
}


/* Style the container with a rounded border, grey background and some padding and margin */

.container {
    border: 2px solid rgb(0, 217, 255);
    background-color: #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}


/* Clear floats after containers */

.container::after {
    content: "";
    clear: both;
    display: table;
}


/* Float images inside the container to the left. Add a right margin, and style the image as a circle */

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


/* Increase the font-size of a span element */

.container span {
    font-size: 20px;
    margin-right: 15px;
}


/* Add media queries for responsiveness. This will center both the text and the image inside the container */

@media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}


/*============================DROPDOWN MENU=================================*/

.accordion-container .accordion-title {
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    background-color: #000;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
}


/*this is the hover of the headings, Once the user selects or click any heading the background colour
will change.*/

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-title.open {
    background-color: rgb(4, 247, 234);
}

.accordion-container .accordion-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 15px;
    height: 2px;
    transform: rotate(90deg);
    background: #fff;
    transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25px;
    width: 15px;
    height: 2px;
    background: #fff;
    transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
    transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
    opacity: 0;
}


/*this will show the selected  by changing  the border of the content  to blue.*/

.accordion-content {
    padding-left: 2.3125em;
    border: 1px solid blue;
}